<div ng-app="studentlist">
  <form>
      <table>
         <tr>
             <p>First Name: <input type="text" ng-model="firstname"><br></p>
        </tr>
          <tr>
               <p>Last Name:  <input type="text" ng-model="lastname"><br></p>  
          </tr>
          <tr>
               <p>Technology: <input type="text" ng-model="technology"><br></p>
          </tr>
          <tr>
                <p>GuestHouse: <input type="text" ng-model="guesthouse"><br></p>
        </tr>
          <tr>
               <p>Email:<input type="email" ng-model="email"><br></p>
          </tr>
          <tr>
               <p>Phone: <input type="text" ng-model="firstname"><br></p>
          </tr>
          <tr>
              <p>University: <input type="text" ng-model="university"><br></p>
          </tr>
          <tr>
              <p><input type="button" name ="button" value="Add Student"></p>
          </tr>
          </table>
      
  </form>
</div>
